.main{


    #first-room{
        position: relative;
        padding-bottom: 25px;
        a{
            color: #fff;
            text-decoration: none;
        }
        #room-1{
            background: url(../img/rooms/5.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }
        #room-2{
            background: url(../img/rooms/6.jpg) no-repeat center center;
            background-size: cover;

            min-height: 500px;

        }
    }
    #second-room{
        position: relative;
        padding-bottom: 25px;
        a{
            color: #fff;
            text-decoration: none;
        }
        #room-3{
            background: url(../img/rooms/4.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }

    }
    #thrd-room{
        position: relative;
        padding-bottom: 25px;
        #room-4{
            background: url(../img/rooms/1.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }
        #room-5{
            background: url(../img/rooms/2.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }
    }
    #fourth-room{
        position: relative;
        padding-bottom: 25px;
        a{
            color: #fff;
            text-decoration: none;
        }
        #room-6{
            background: url(../img/rooms/7.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }
        #room-7{
            background: url(../img/rooms/8.jpg) no-repeat center center;
            background-size: cover;

            height: 500px;
            min-height: 500px;

        }
    }
    #room-1,#room-2,#room-3,#room-4,#room-5,#room-6,#room-7{
        h4{
            margin-top: 360px;
            margin-left: 50px;
            position: absolute;
            width: 100px;
            height: 100px;
            background: #303030;
            padding: 40px 20px 0 20px;
            font-size: 1em;
        }
        .info{
            display: none;
            border: 1px solid #fff;
            h5{
                border-bottom: 1px solid #fff;
            }
        }
    }
    #room-1:hover,#room-2:hover,#room-3:hover,#room-4:hover,#room-5:hover,#room-6:hover,#room-7:hover{
        background: red;

        .info{
            display:inline-block;


        }
        h4{
            display: none;

        }
    }

}