.main{
  #first-room{
   #room-1{
      background: url(../img/rooms/5.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }
    #room-2{
      background: url(../img/rooms/6.jpg) no-repeat center center;
      background-size: cover;
      
        min-height: 500px;
 
   }
  }
#second-room{
       #room-3{
      background: url(../img/rooms/4.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }

}
    #thrd-room{
           #room-4{
      background: url(../img/rooms/1.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }
               #room-5{
      background: url(../img/rooms/2.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }
    }
        #fourth-room{
           #room-6{
      background: url(../img/rooms/7.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }
               #room-7{
      background: url(../img/rooms/8.jpg) no-repeat center center;
      background-size: cover;
    
        height: 500px;
       min-height: 500px;
      
   }
    }
}