.main{
  #first-room{
   #room-1{
      background-image: url(../img/rooms/5.jpg);
        height: 500px;
       max-height: 500px;
      
   }
    #room-2{
      background-image: url(../img/rooms/6.jpg);
         height: 500px;
        max-height: 500px;
   }
  }
}