@import url(https://fonts.googleapis.com/css?family=Sniglet:400,800);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);
body {
  font-family: Sniglet ;
  letter-spacing: 1px;
}
h3,
h4,
h5,
h6 {
  font-family: Boogaloo ;
  letter-spacing: 2px;
  font-size: 1.2em;
}
h1,
h2 {
  font-size: 4em;
  letter-spacing: 3px;
  padding-bottom: 15px;
}
p {
  font-size: 1.2em;
  letter-spacing: 2px;
}
/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
  .container {
    margin: 0 2%;
  }
  h2 {
    font-size: 4em;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 0.8em;
  }
}
/*============================================================
//	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    margin: 0 2%;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  .container {
    margin: 0 2%;
  }
  h2 {
    font-size: 3.5em;
  }
}
/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 180px) and (max-width: 767px) {
  .container {
    margin: 0 2%;
  }
  h2 {
    font-size: 2.5em;
  }
}
body {
  position: relative;
  padding-top: 0px;
}
/*navigation*/
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.main #rooms_cover {
  background: url(../img/covers/1.png) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
  background-attachment: fixed;
  text-align: center;
}
.main #rooms_cover h1 {
  margin-top: 300px;
}
.main #first-room {
  position: relative;
  padding-bottom: 25px;
  padding-top: 25px;
}
.main #first-room a {
  color: #fff;
  text-decoration: none;
}
.main #first-room #room-1 {
  background: url(../img/rooms/5.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #first-room #room-2 {
  background: url(../img/rooms/6.jpg) no-repeat center center;
  background-size: cover;
  min-height: 500px;
}
.main #second-room {
  position: relative;
  padding-bottom: 25px;
}
.main #second-room a {
  color: #fff;
  text-decoration: none;
}
.main #second-room #room-3 {
  background: url(../img/rooms/4.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #thrd-room {
  position: relative;
  padding-bottom: 25px;
}
.main #thrd-room a {
  color: #fff;
  text-decoration: none;
}
.main #thrd-room #room-4 {
  background: url(../img/rooms/1.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #thrd-room #room-5 {
  background: url(../img/rooms/2.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #fourth-room {
  position: relative;
  padding-bottom: 25px;
}
.main #fourth-room a {
  color: #fff;
  text-decoration: none;
}
.main #fourth-room #room-6 {
  background: url(../img/rooms/7.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #fourth-room #room-7 {
  background: url(../img/rooms/8.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #room-1 h4,
.main #room-2 h4,
.main #room-3 h4,
.main #room-4 h4,
.main #room-5 h4,
.main #room-6 h4,
.main #room-7 h4 {
  margin-top: 360px;
  margin-left: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #1dc3f7;
  padding: 40px 20px 0 20px;
  font-size: 1em;
}
.main #room-1 .info,
.main #room-2 .info,
.main #room-3 .info,
.main #room-4 .info,
.main #room-5 .info,
.main #room-6 .info,
.main #room-7 .info {
  display: none;
  border: 1px solid #1dc3f7;
  margin-top: 220px;
  margin-left: 50px;
  width: 230px;
  height: 200px;
  padding: 1% 12px;
}
.main #room-1 .info h5,
.main #room-2 .info h5,
.main #room-3 .info h5,
.main #room-4 .info h5,
.main #room-5 .info h5,
.main #room-6 .info h5,
.main #room-7 .info h5 {
  border-bottom: 1px solid #1dc3f7;
  padding: 5%;
}
.main #room-1:hover .mas,
.main #room-2:hover .mas,
.main #room-3:hover .mas,
.main #room-4:hover .mas,
.main #room-5:hover .mas,
.main #room-6:hover .mas,
.main #room-7:hover .mas {
  height: 500px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
}
.main #room-1:hover .info,
.main #room-2:hover .info,
.main #room-3:hover .info,
.main #room-4:hover .info,
.main #room-5:hover .info,
.main #room-6:hover .info,
.main #room-7:hover .info {
  display: inline-block;
}
.main #room-1:hover h4,
.main #room-2:hover h4,
.main #room-3:hover h4,
.main #room-4:hover h4,
.main #room-5:hover h4,
.main #room-6:hover h4,
.main #room-7:hover h4 {
  display: none;
}
#hotel #hotel_cover {
  background: url(../img/covers/2.png) no-repeat center center;
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#hotel #histry {
  padding: 80px 0;
  text-align: center;
}
#hotel #histry .smooth-midle li {
  list-style: none;
  display: inline-block;
}
#hotel #histry .smooth-midle li a {
  text-decoration: none;
}
#camp_poe .hotel_baner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
#camp_poe #intro {
  padding-top: 100px;
  padding-bottom: 100px;
}
#camp_poe #ground {
  padding: 20px 10px;
}
#camp_poe #ground .ground-info {
  background-color: #1dc3f7;
}
#camp_poe #ground .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#camp_poe #hotel-map {
  padding: 20px 10px;
}
#camp_poe #hotel-map .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#camp_poe #lobby {
  padding: 20px 10px;
}
#camp_poe #lobby .ground-lobby {
  background-color: #1dc3f7;
}
#camp_poe #lobby .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#camp_poe #lobby-2 {
  padding: 20px 10px;
}
#camp_poe #lobby-2 .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#camp_poe #pool-and-arbor {
  padding: 20px 10px;
}
#camp_poe #pool-and-arbor .fool-info {
  background-color: #1dc3f7;
}
#camp_poe #pool-and-arbor .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#camp_poe #pool-and-arbor-two {
  padding: 20px 10px;
}
#camp_poe #pool-and-arbor-two .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#room_one img {
  border-radius: 0px;
}
#room_one #room_one_first,
#room_one #room_one_thrd,
#room_one #room_one_second {
  padding: 10px 10px;
}
#room_one #room_one_first .img-rounded,
#room_one #room_one_thrd .img-rounded,
#room_one #room_one_second .img-rounded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80%;
  border-radius: 0px;
}
#room_one #room_one_first .room-info,
#room_one #room_one_thrd .room-info,
#room_one #room_one_second .room-info {
  height: 250px;
  overflow-y: scroll;
}
