h1 {
  font-size: 5em;
}
body {
  position: relative;
  padding-top: 0px;
}
.main #first-room #room-1 {
  background: url(../img/rooms/5.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #first-room #room-2 {
  background: url(../img/rooms/6.jpg) no-repeat center center;
  background-size: cover;
  min-height: 500px;
}
.main #second-room #room-3 {
  background: url(../img/rooms/4.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #thrd-room #room-4 {
  background: url(../img/rooms/1.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #thrd-room #room-5 {
  background: url(../img/rooms/2.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #fourth-room #room-6 {
  background: url(../img/rooms/7.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
.main #fourth-room #room-7 {
  background: url(../img/rooms/8.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  min-height: 500px;
}
